<div class="posts list-group">
  {{#each posts}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
      <span>{{title}}</span>
      <span>Posted by {{user.username}} on {{format_date date_created}}</span>
    </a>
  {{/each}}
</div>